[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

GitPython = "==2.1.8"
stdlib-list = "==0.4.0"
mccabe = "==0.6.1"
"pep8" = "==1.7.1"
"gitdb2" = "==2.0.3"
"smmap2" = "==2.0.3"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
Babel = "*"
tox = "*"
