-i https://pypi.python.org/simple/
appdirs==1.4.4
attrs==20.3.0
babel==2.5.3
certifi==2020.12.5
chardet==4.0.0
codecov==2.0.15
coverage==5.5
distlib==0.3.1
filelock==3.0.12
idna==2.10
more-itertools==8.7.0
pluggy==0.6.0
py==1.10.0
pytest-cov==2.5.1
pytest==3.5.0
pytz==2021.1
requests==2.25.1
six==1.15.0
tox==3.0.0
urllib3==1.26.4
virtualenv==20.4.4
